.header {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
    width: 100%;
    margin: auto;
    grid-gap: 20px;
    position: fixed;
    z-index: 5;
    background-image: linear-gradient(60deg, #3ac7ff -44%,  #0278ff 100%);
}


.bg-logo {
    margin-top: 20px;
    width: 300px;
    object-fit: contain;
    text-align: left;
}
.search-input {
    background: none;
    border: none;
    outline: none;
    border: 1px solid white;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    padding: 0 0px 0px 60px;
    color: whitesmoke;
    background-image: url('../../../Logo/search-solid.svg');
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: 10px;
    position: relative;
    z-index: 5 !important;
}
.header button {
    width: 200px;
    max-width: auto;
    background: none;
    border: none;
    outline: none;
    color: white;
    font-size: 20px;
    background-color: #2db7eec4;
    border-radius: 10px;
    height: 50px;
}

