.App {
  text-align: center;
  background-image: linear-gradient(60deg, #3ac7ff -44%,  #0278ff 100%);
  min-height: 100vh;
  color: white;
  margin: 0;
  padding: 0;
}
.home-grid {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  position: relative;
  z-index: 0;
  padding-top: 130px;
}

